{% for block in section.blocks %}
    {% assign b = block.settings %}
    {% if page.handle == b.page_handle %}
        <section {{ block.shopify_attributes }}>
            <img src="{{b.image | img_url }}">
        </section>
    {% break %}
    {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
